{% extends 'baseadmin.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row-justify-center mt-4">
            <div class="col-4 text-center">
                <h2>Accedi!</h2>
                <form class="" action="{% url 'login' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="btn btn-info" value="Login">

                  <input type="hidden" name="next" value="{{ next }}">
                </form>
                <br>
                <p> <a href="{% url 'password_reset' %}"> Password dimenticata </a></p>
                <p>Se non sei ancora registrato lo puoi fare qui
                <a class="nav-link" href="{% url 'registration_view' %}">Registrati</a>

                </p>


            </div>

        </div>



  {% endblock content %}
